<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>@ViewBag.Title | Admin</title>

    <link rel="stylesheet" media="screen" href="//cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"/>
    <link rel="stylesheet" media="screen" href="//cdn.jsdelivr.net/npm/@@creativebulma/bulma-tooltip@1.0.1/dist/bulma-tooltip.min.css"/>
    <link rel="stylesheet" media="screen" href="/css/admin.css"/>
</head>
<body>
<section class="section">
    <div class="container">
        <div class="columns is-mobile">
            <div class="column is-menu">
                <aside class="menu shadow-box">
                    <p class="menu-label">
                        General
                    </p>
                    <ul class="menu-list">
                        <li>
                            <a class="is-active">Dashboard</a>
                        </li>
                        <li>
                            <a>Components</a>
                        </li>
                        <li>
                            <a>Metrics</a>
                        </li>
                        <li>
                            <a>Incidents</a>
                        </li>
                    </ul>

                    <p class="menu-label">
                        System
                    </p>
                    <ul class="menu-list">
                        <li>
                            <a>Accounts</a>
                        </li>
                    </ul>
                </aside>
            </div>
            <div class="column">
                <div class="shadow-box">
                    <div class="panel">
                      <p class="panel-heading">
                        All Components
                      </p>
                      <div class="panel-block">
                        @RenderBody()
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>

<script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule="" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.js"></script>

@await RenderSectionAsync("Scripts", false)
</body>
</html>