@model OpenNetworkStatus.Models.StatusViewModel
@{
    ViewData["Title"] = "Status";
}

<partial name="Partial/_SiteStatus" model="@Model.SiteStatus"/>

<div class="component-container">    
    @foreach (var component in Model.Components)
    {
        <partial name="Partial/_Component" model="component"/>
    }
    
    @foreach (var component in Model.ComponentGroups)
    {
        <partial name="Partial/_ComponentGroup" model="component"/>
    }
</div>

@if (Model.Metrics.Any())
{
    <h1 class="page-title title is-6">SYSTEM METRICS</h1>
    
    <div class="metric-container">    
        @foreach (var metric in Model.Metrics)
        {
            <partial name="Partial/_Metric" model="metric"/>
        }
    </div>
}

<h1 class="page-title title is-6">INCIDENTS</h1>

<div class="incident-container">
    @foreach (var day in Model.StatusDays)
    {
        <partial name="Partial/_StatusDay" model="day"/>
    }
</div>

@section Scripts
{
    <script>
        document.addEventListener("DOMContentLoaded", function(){
            Status.Metric.init();
            Status.Collapsible.init();
        });
    </script>
}