@model ErrorViewModel
@{
    ViewBag.Title = Model.StatusCode;
}

    <section class="content">
        <h2 class="has-text-danger">@Model.StatusCode</h2>

        <div class="error-content">
            <h3>@Model.Title</h3>

            <p>
                @Model.Message
                Click <a onclick="history.go(-1);"> here</a> to return to the last page.
            </p>

            <p class="debug-information">
               @if (Model.ShowRequestId)
                {
                    <strong>Request ID:</strong> <code>@Model.RequestId</code>
                }
            </p>
        </div>
    </section>